body{
    background-color: rgb(126, 126, 126);
}

#title{
  text-align: center;
  color: white;
}
.gameBoard{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  gap: 10px;
  background-color: white;
  justify-content: center;
  margin-bottom: 50px;
  padding: 10px;
  background-color: rgb(126, 126, 126);

}

.gameBoard > div {
  background-color: #f1f1f1;
  color: #000;
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border: 1px solid black;
}


#keyboard {
margin: 1rem 0;
display: flex;
flex-direction: column;
align-items: center;
}

#keyboard > div {
display: flex;
}

.second-row {
margin: 0.5rem 0;
}

.keyboard-button {
font-size: 1rem;
font-weight: 700;
padding: 0.5rem;
margin: 0 2px;
cursor: pointer;
text-transform: uppercase;
}
